html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
button{
    padding: 0;
    border: none;
    background-color: transparent;
}

.container{
    max-width: 1770px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

body{
    color: #151618;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    /* font-family: 'Cormorant', serif; */
    font-family: 'Open Sans', sans-serif;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 110px;
    min-height: 140px;
    box-shadow: 10px 5px 115px #fff;
    z-index: 5;
}

.logo{
    margin-bottom: 35px;
}


.menu__btn{
    display: none;
    width: 40px;
    height: 20px;
    position: relative;
    z-index: 2;
}
.menu--close{
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    transition: background-color .3s ease;

}
.menu--close.menu--open{
    display: block;
}

.mobile-nav,
.menu__close{
    display: none;
}

.menu__btn span{
    background-color: #000;
    height: 2px;
    width: 100%;
}
.menu__list{
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    z-index: 3;
}

.menu__tel{
    font-size: 30px;
}

.top{
    background-image: url(../images/projecte-topBanner.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}
.top__inner{
    min-height: 840px;
    color: #fff;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.top__title{
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;
}
.top__text{
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 560px;
    line-height: normal;
}

.blockquote__text{
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    max-width: 704px;
    margin: 150px auto;
}


.leistungen{
     margin: 150px auto;
     background-color: #f7f2ea;
     padding: 40px;

}
.leistungen__inner{
    display: flex;
    justify-content: space-between;
}
.leistungen__text{
    max-width: 50%;
}


.leistungen__title{
    font-size: 40px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;
}
.leistungen__list-title{
    font-size: 30px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;
}
.leistungen__list{
   padding: 20px; 
}

.list__item::before{
    content: '>';
    font-weight: bold;

}

.adwehrsysteme__subtitle{
    font-size: 24px;
    margin-bottom: 50px;
    max-width: 560px;
    line-height: normal;
}




.adwehrsysteme__title{
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;

}
.adwehrsysteme__subtitle{
    font-size: 24px;
    margin-bottom: 50px;
    max-width: 560px;
    line-height: normal;
}


.slider__text{
    margin-bottom: 30px;
}
.photo{
    text-align: center;
    margin: 70px auto;
    padding: 10px;
}

.photo__items img{
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    overflow: hidden;
}


.projecte{
    margin: 150px auto;
}
.projecte__inner{
    background-image: url(../images/projecte-topBanner.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
    padding: 20px;
    min-height: 330px;
    color: #fff;
    font-family: 'Cormorant', serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.projecte__title{
    font-size: 40px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;
}
.projecte__subtitle,
.projecte__text{
    font-size: 20px;
    margin-bottom: 48px;
    max-width: 560px;
    line-height: normal;
}
.projecte__text{
    font-size: 25px;
}
.projecte__text-inner{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    max-width: 704px;
    margin: 50px auto;
}
.projecte__gallery{
    text-align: center;
    margin: 0 auto;
    padding: 10px;
}
.kontakt{
    background-color: #f7f2ea;
    padding: 20px;
    outline: none;
}
.kontakt__title{
    font-family: 'Cormorant', serif;
    font-size: 40px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;
}
.kontakt__subtitle{
    font-size: 24px;
    margin-bottom: 50px;
    max-width: 560px;
    line-height: normal;
    margin-bottom: 50px;
}
.kontakt__form{
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    outline: none;
}
.kontakt__form input{
    padding: 20px;
    border: none;
    outline: none;
}
.kontakt__form textarea{
    outline: none;
    padding: 20px;
    border: none;
    resize: none;
}
.kontakt__form textarea:focus{
    transition: .5s;
    border-radius: 30px;
}
.kontakt__form input:focus{
    transition: .5s;
    border-radius: 30px;
}
.kontakt__form-button{
    background-color: #fff;
    cursor: pointer;
    font-family: 'Cormorant', serif;
    font-size: 20px;
    font-weight: 600;
}
.kontakt__form-button:hover{
    transition: .5s;
    transform: scale(1.1);
}
.footer{
    margin: 100px auto;
    padding: 50px;
}
.footer__inner{
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.footer__kontakt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
iframe{
    width: 100%;
}

  
@media (max-width: 1000px){
  .logo{
    margin-bottom: 0;
  }
  .header__inner{
    min-height: auto;
  }
  .blockquote__text{
    margin-top: 120px;
    margin-bottom: 135px;
  }

}
@media (max-width: 970px){
    .menu__tel{
        font-size: 20px;
    }
    .menu__list{
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 480px;
        margin: 0 auto;
        background-color: #fff;
        display: block;
        text-align: center;
        padding-top: 60px;
        transition: transform .7s;
    }
    .menu__list.menu__list--open{
        transform: translateY(0%);
        transition: transform .7s;
    }
    .menu__close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menu__item{
        margin-bottom: 30px;
        font-size: 24px;
        font-family: 'Cormorant', serif;
    }
    .mobile-menu{
        padding-top: 60px;
        margin: 60px 30px;
        border-top: 2px solid #f7f2ea;
    }
    .mobile-menu__item{
        margin-bottom: 35px;
    }
    .menu__btn{
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }
    .mobile-nav,
    .menu__close{
        display: block;
    }
    .menu{
        order: -1;
        margin-right: 0;
    }
    .logo{
        margin-left: auto;
        margin-right: 110px;
    }
    .leistungen{
        margin: 0 auto;
    }
    
    .projecte__subtitle{
        margin-bottom: 0;
    }
    .footer{
        padding: 0;

    }

}

@media (max-width: 768px){
    .header__inner{
        padding-left: 64px;
        padding-right: 64px;
    }
    .blockquote__text{
        max-width: 640px;
    }
    .leistungen__title{
        font-size: 20px;
    }
    .leistungen__subtitle{
        font-size: 15px;
    }
    .leistungen__list{
        padding: 0;
    }
    .leistungen__list-title{
        font-size: 20px;
    }
    .leistungen__list{
        font-size: 15px;
        margin-left: 15px;
    }
    .adwehrsysteme__inner{
        margin-top: 40px;
    }
    
}
@media (max-width: 680px){
    .container{
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__inner{
        padding-left: 0;
        padding-right: 0;
    }
    .top__title{
        font-size: 40px;
        line-height: normal;
    }
    .blockquote__text{
        font-size: 20px;
        max-width: 376px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    
}
@media (max-width: 600px){
    .menu__tel{
        display: none;  
    }
    .logo{
        margin-right: 0;
    }
    .adwehrsysteme__title{
        font-size: 40px;
    }
    .projecte{
        margin: 50px auto;
    }
    .header__inner{
        padding: 0;
    }
}
@media (max-width: 480px){
    .logo img{
        width: 40px;
    }
    .menu__list{
        width: 360px;
    }
    .leistungen__inner{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .leistungen__text{
        max-width: 100%;
    }
    .projecte__title{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .projecte__subtitle{
        font-size: 15px;
    }
    .projecte__text-inner{
        margin: 15px auto 0;
    }
    .projecte__text {
        font-size: 15px;
        margin-bottom: 20px;
    }
}
@media (max-width: 360px){
    .header__inner{
        padding: 10px 0;
    }
    .top__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .top__text{
        font-size: 13px;
        margin-bottom: 30px; 
    }
    .top__inner{
        min-height: 230px;
    }
    .blockquote__text{
        max-width: 340px;
        margin-top: 70px;
        margin-bottom: 80px;
    }
    .adwehrsysteme__title{
        font-size: 25px;
    }
    .adwehrsysteme__subtitle{
        font-size: 15px;
    }
    .slider__titel{
        font-size: 20px;
    }
    .slider__text{
        font-size: 15px;
    }
}